body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    background-color: rgb(208, 220, 226);
    opacity: 80%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    margin: 10px;
}

table {
    border-collapse: collapse;

}

td {
    border: 3px solid black;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

td:hover {
    background-color: burlywood;
    opacity: 30%;
}

td:active{
    background-color: darkblue;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.hits {
    background-image: url('img/fire.svg'); 
}


.shots {
    background-image: url('img/cross.svg'); 
    background-size: 20px;
}

.kills {
    background-image: url('img/skull.svg'); 
}

.again {

    margin-top: 20px;
    background-color: rgb(35, 88, 95);
    width: 355px;
    height: 25px;
    color: white;
}

.again:hover {
    opacity: 75%;
    color: white;
}
.again:active{
    background-color: rgb(26, 50, 59);
}